In [1]:
import pandas as pd

In [2]:
CCTV_Seoul = pd.read_csv('C:/Users/woowahan/Documents/data/Python/datamassage/cctv.csv', encoding = 'utf8')

In [3]:
CCTV_Seoul.head()

     기관명       소계 2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구   5,221    1,944   195.0  316.0   430   546.0  765.0  577.0  448.0
1  강 동 구   1,879      303   387.0  134.0    59   144.0  194.0  273.0  385.0
2  강 북 구   1,265      243    88.0  141.0    74   145.0  254.0    1.0  319.0
3  강 서 구   1,617      219   155.0  118.0   230   187.0  190.0  264.0  254.0
4  관 악 구   3,985      430    56.0  419.0   487   609.0  619.0  694.0  671.0

In [5]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [6]:
CCTV_Seoul.columns[0]

'기관명'

In [10]:
CCTV_Seoul.row[0] #이건안되는듯..

AttributeError: 'DataFrame' object has no attribute 'row'

In [11]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, inplace=True)
CCTV_Seoul.head()

      구별       소계 2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구   5,221    1,944   195.0  316.0   430   546.0  765.0  577.0  448.0
1  강 동 구   1,879      303   387.0  134.0    59   144.0  194.0  273.0  385.0
2  강 북 구   1,265      243    88.0  141.0    74   145.0  254.0    1.0  319.0
3  강 서 구   1,617      219   155.0  118.0   230   187.0  190.0  264.0  254.0
4  관 악 구   3,985      430    56.0  419.0   487   609.0  619.0  694.0  671.0

In [27]:
import pandas as pd

pop_seoul=pd.read_excel('C:/Users/woowahan/Documents/data/Python/datamassage/pop_seoul.xlsx', enconding='utf-8' )

In [29]:
pop_seoul.head()

,기준일ID,시군구코드,시군구명,총생활인구수,내국인생활인구수,장기체류외국인인구수,단기체류외국인인구수,일최대인구수,일최소인구수,주간인구수(09~18),야간인구수(19~08),일최대이동인구수,서울외유입인구수,동일자치구행정동간이동인구수,자치구간이동인구수
0,20201218,11000,서울시,1.090282e+07,1.043842e+07,379579.3655,84819.9178,1.116026e+07,1.063678e+07,1.112032e+07,1.074746e+07,5.574969e+06,1.250712e+06,2.058656e+06,2.265601e+06
1,20201218,11110,종로구,2.851009e+05,2.670721e+05,15486.6770,2542.1083,3.701797e+05,2.206032e+05,3.494647e+05,2.391268e+05,2.337545e+05,5.314368e+04,3.233038e+04,1.482805e+05
2,20201218,11140,중구,2.783933e+05,2.520432e+05,18976.8810,7373.2515,3.961259e+05,1.902078e+05,3.685337e+05,2.140073e+05,2.776604e+05,6.765127e+04,3.103768e+04,1.789715e+05
3,20201218,11170,용산구,3.013044e+05,2.797843e+05,18205.2012,3314.9219,3.232275e+05,2.766007e+05,3.209562e+05,2.872674e+05,1.695602e+05,4.111844e+04,4.683125e+04,8.161048e+04
4,20201218,11200,성동구,3.594109e+05,3.425431e+05,15032.8670,1834.9967,3.756175e+05,3.388085e+05,3.740402e+05,3.489614e+05,1.918945e+05,3.481653e+04,5.858649e+04,9.849144e+04

In [31]:
pop_seoul = pd.read_excel('C:/Users/woowahan/Documents/data/Python/datamassage/pop_seoul.xlsx',
                          usecols = 'C, D, E, F',
                          enconding='utf-8')

In [32]:
pop_seoul.head()

  시군구명        총생활인구수      내국인생활인구수   장기체류외국인인구수
0  서울시  1.090282e+07  1.043842e+07  379579.3655
1  종로구  2.851009e+05  2.670721e+05   15486.6770
2   중구  2.783933e+05  2.520432e+05   18976.8810
3  용산구  3.013044e+05  2.797843e+05   18205.2012
4  성동구  3.594109e+05  3.425431e+05   15032.8670